@font-face {
  font-family: "anakinmono";
  src: url(./fonts/anakinmono.ttf) format("truetype");
}

@font-face {
  font-family: "SF Distant Galaxy";
  src: url(./fonts/SF\ Distant\ Galaxy.ttf) format("truetype");
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./images/background-image.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100vw;
  margin: 0 auto;
  /* Removing the "bounce effect" during scrolling.*/
  height: 100%;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
